$padding = 8px
$blue = #0bffff
$red = #ff0b0b

body, html, #root
  margin 0
  height 100%
  width 100%
  font-family arial

body
  //background $red
  background yellow

main
  display flex
  flex-direction row
  padding $padding * 3
  .nav
    flex-grow 1
    
  @media(max-width: 600px)
    flex-direction column
    
.container
  flex-grow 2
  background #fff
  border solid #000 8px
  padding $padding

span.wow:after
  content url('./images/wow.svg')
  height 10px
  width 10px